@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    --ff-primary: 'Inter', sans-serif;
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: var(--ff-primary);
}

body {
    font-size: 1.5rem;
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    width: 90%;
    max-width: 76.8rem;
    margin-inline: auto;
}

.d-grid {
    display: grid;
}

.atf-section {
    background-color: var(--off-white);
    width: 100%;
    min-height: 100vh;
}

/* HEADER */
.page-header {
    width: 100%;
    padding-block: 3rem;
    z-index: 3;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overlay-on-mobile {
    position: fixed;
    top: 0;
    left: 0;
    inset: 0 0 0 0;
    background-color: hsl(0 0% 0% / .65);
    z-index: 1;
    transform: translate(100%);
}

.menu-open {
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 5;
}

.page-nav {
   position: fixed;
   top: 0;
   right: 0;
   height: 100vh;
   width: 68vw;
   max-width: 30rem;
   background-color: var(--off-white);
   padding: 15rem 3rem;
   z-index: 20;
   transform: translate(100%);
   transition: all 500ms ease-out;
}

.page-nav.show {
    transform: translate(0);
}

.overlay-on-mobile.show {
    transform: translate(0);
}

.close-icon-btn {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 3rem;
    right: 3rem;
    cursor: pointer;
}

.nav-list {
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
}

.nav-link {
    color: var(--very-dark-blue);
    font-size: 1.8rem;
}

.nav-link:hover {
    color: var(--soft-red);
}

/* ABOVE THE FOLD */
.atf-image {
    width: 100%;
    background-image: url("./assets/images/image-web-3-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    aspect-ratio: 1/1;
}

.page-title {
    font-size: 3.6rem;
    line-height: 1;
    font-weight: 800;
    max-width: 10ch;
    margin-block: 1.4rem;
    /* border: 1px solid hotpink; */
}

.atf-desc-text {
    color: var(--dark-grayish-blue);
    line-height: 1.6;
}

.atf-btn {
    background-color: var(--soft-red);
    display: inline-block;
    color: var(--off-white);
    letter-spacing: 2px;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1.3rem 3.6rem;
    cursor: pointer;
    margin-top: 2.4rem;
}

.atf-btn:hover {
    background-color: var(--soft-orange);
}

/* ASIDE */
.news-aside {
    margin-block: 3.6rem;
    background-color: var(--very-dark-blue);
    padding: 3.2rem 2rem;
}

.aside-title {
    color: var(--soft-orange);
    font-size: 3.2rem;
    font-weight: 700;
}

.news-wrapper {
    margin-top: 2.4rem;
    padding-bottom: 3.2rem;
}

.news-wrapper:not(:last-child) {
    border-bottom: 1px solid hsl(0 0% 70% / .25);
}

.news-title {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 800;
    cursor: pointer;
}

.news-title:hover {
    color: var(--soft-orange);
}

.news-text {
    color: #b3b3b3;
    line-height: 1.6;
    margin-top: 1rem;
}

/* TOP RATED ARTICLES */
.article {
    display: flex;
    gap: 2rem;
    /* align-items: flex-end; */
    margin-bottom: 3.2rem;
}

.article-img {
    display: block;
    width: 10rem;
}

.article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-num {
    color: var(--grayish-blue);
    font-size: 3rem;
    font-weight: 700;
}

.article-title {
    color: var(--very-dark-blue);
    font-size: 1.8rem;
    font-weight: 800;
    cursor: pointer;
    /* margin-block: .8rem 1rem; */
}

.article-title:hover {
    color: var(--soft-red);
}

.article-text {
    line-height: 1.6;
    color: var(--dark-grayish-blue);
}


/* MEDIA QUERIES */
@media screen and (min-width: 1240px) {

    .container {
        max-width: 96rem;
    }

    .page-header {
        padding-block: 11rem 5rem;
    }

    .grid-2 {
        grid-template-columns: 2fr 1fr;
        gap: 3rem;
    }

    .subgrid {
        grid-template-columns: 1fr 1fr;
        gap: 1.6rem;
        /* grid-template-rows: fit-content 1fr; */
    }

    .grid-3 {
        margin-top: 7.2rem;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;
    }

    .page-nav {
        display: initial;
        position: initial;
        top: initial;
        right: initial;
        height: auto;
        width: initial;
        max-width: initial;
        background-color: none;
        padding: 0 0;
        transform: translateX(0);
    }

    .menu-open {
        display: none;
    }

    .close-icon-btn {
        display: none;
    }

    .nav-list {
        flex-direction: row;
        gap: 3.6rem;
        align-items: center;
    }

    .nav-link {
        color: var(--dark-grayish-blue);
        font-size: 1.5rem;
    }

    .news-aside {
        margin-block: 0;
    }

    .atf-image {
        width: initial;
        background-image: url("./assets/images/image-web-3-mobile.jpg");
        aspect-ratio: unset;
        grid-column: 1/-1;
        height: 300px;
    }

    .page-title {
        font-size: 5.6rem;
        line-height: 1;
        font-weight: 800;
        max-width: 10ch;
        margin-block: 0;
        /* margin-block: 1.4rem; */
    }

    .atf-desc-intro {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* border: 1px solid lime; */
    }

    .atf-btn {
        margin-top: auto;
    }
}

@media screen and (min-width: 1240px) {
    .container {
        max-width: 110rem;
    }
}
